<div class="col-md-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title mb-0">Flowchart</h4>
        <a href="#"><small>Show All</small></a>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quod
        cupiditate esse fuga
      </p>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Module Name</th>
              <th>Module Code</th>
              <th>No Credits</th>
              <th>Category</th>
              <th>Decisions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fundamental Math</td>
              <td>347dnd</td>
              <td>12</td>
              <td>20 Jan 2019</td>
              <td>Competent</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
