<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Student soft portfolio</title>
    <style>
      html,
      body {
        scroll-padding-top: 100px;
        scroll-behavior: smooth;
      }
    </style>

    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/css/vendor.bundle.addons.css"
    />

    <link rel="stylesheet" href="/assets/css/shared/style.css" />

    <link rel="stylesheet" href="/assets/css/demo_1/style.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  </head>
</html>
