<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand brand-logo" href="#">SOFTPORT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts">contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <%if(locals.user){%>
        
          <li class="nav-item">
            <a  class="nav-link" href="/dashboard">dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">profile</a>
          </li>
        </ul>
        <a href="/logout"  class="nav-link btn btn-danger" class="btn btn-danger ml-2">logout</a>
      <%} else{%>
      <a href="/users/login"  class="nav-link btn btn-success" class="btn btn-success ml-2">login</a>
    </ul>
      <%}%>
    
    </div>
  </div>
</nav>

