<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <h4 class="card-title mb-0">Fundamental eng math</h4>
          <p class="font-weight-semibold mb-0">20 june 2022</p>
        </div>
        <a href="#" type="submit" class="btn btn-success mr-2 mb-4">
          download File
        </a>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Decision</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option>Competent</option>
              <option>Not Yet Competent</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <h4 class="card-title mb-0">Fundamental eng math</h4>
          <p class="font-weight-semibold mb-0">20 june 2022</p>
        </div>
        <a href="#" type="submit" class="btn btn-success mr-2 mb-4">
          download File
        </a>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Decision</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option>Competent</option>
              <option>Not Yet Competent</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <h4 class="card-title mb-0">Fundamental eng math</h4>
          <p class="font-weight-semibold mb-0">20 june 2022</p>
        </div>
        <a href="#" type="submit" class="btn btn-success mr-2 mb-4">
          download File
        </a>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Decision</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option>Competent</option>
              <option>Not Yet Competent</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
