<body>
  <div class="container-scroller">
    <%- include("partials/nav", user) %>

    <div class="container-fluid page-body-wrapper">
      <div style="width: 100vw" class="main-panel">
        <div class="content-wrapper">
          <div
            style="min-height: calc(100vh - 70px)"
            class="d-flex align-items-center"
          >
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1>portfolio without limits.</h1>
                <p>
                  Store, Access, or share your portfolio with our platform,
                  Advanced security, user friendly and simplicity.
                </p>
                <a href="" class="btn btn-primary">get started</a>
              </div>
              <div class="col-md-6">
                <img
                  style="width: 100%; max-height: 50vh; object-fit: cover"
                  src="https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80"
                  alt=""
                />
              </div>
            </div>
          </div>
          <h1 id="about" class="mt-4 mb-4 text-center">About us</h1>
          <p>
            A good portfolio is more than a long list of good stocks and bonds.
            it is a balanced whe , providing the owner with protection and
            opportunities with respect to a wide range of contigencies.
          </p>
          <div style="gap: 2rem; justify-content: center" class="row mt-4">
            <div class="card col-md-3">
              <div class="card-body">
                <div class="avatar one"></div>
                <div class="card-title">NTAKIRUTIMANA Pierre</div>
                <p>
                  Soft portfolio is a great way to demonstrate the competencies
                  you would list on a resume or talk about in an interview.
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
            <div class="card col-md-3">
              <div class="card-body">
                <div class="avatar two"></div>
                <div class="card-title">HATEGEKIMANA Marie Faustine.</div>
                <p>
                  Soft portifolio provides an opportuity for a student to
                  reflect on their learning, to self assess, and to formulate a
                  deeper understanding of the concepts they are learning beyond
                  a simple surface explanations.
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
            <div class="card col-md-3">
              <div class="card-body">
                <div class="avatar three"></div>

                <div class="card-title">MUGISHA Pacifique.</div>
                <p>
                  Soft portifolio allows both internal and external verifiers to
                  verify and evaluate the portfolio of sudents with out the need
                  of moving from one institution to another.
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
          </div>
          <div
            id="contact"
            style="min-height: 100vh"
            class="row align-items-center"
          >
            <div class="contact col-md-8">
              <div style="width: 100%" class="m-auto card-body">
                <h3 class="text-dark mb-2">Contact us</h3>
                <div class="row col-md-full">
                  <div class="form-group col-sm-4">
                    <label for="exampleInputName1">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="Name"
                    />
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="exampleInputName1">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="exampleInputName1">Subject</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="subject"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="exampleTextarea1">Message</label>
                    <textarea
                      class="form-control"
                      id="exampleTextarea1"
                      rows="2"
                    ></textarea>
                  </div>
                </div>
                <button class="btn btn-primary">send</button>
              </div>
            </div>
            <div
              style="display: grid; align-content: center; gap: 2rem"
              class="col-md-3"
            >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Facebook</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Instagram</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Twitter</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >uwi@SOFTPORT.io</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
