<body>
  <div class="container-scroller">
    <%- include("partials/nav", user) %>

    <div class="container-fluid page-body-wrapper">
      <div style="width: 100vw" class="main-panel">
        <div class="content-wrapper">
          <div
            style="min-height: calc(100vh - 70px)"
            class="d-flex align-items-center"
          >
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1>Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Officiis excepturi itaque voluptatibus quibusdam dolorum nulla
                  delectus asperiores esse quasi voluptatem!
                </p>
                <a href="" class="btn btn-primary">get started</a>
              </div>
              <div class="col-md-6">
                <img
                  style="width: 100%; max-height: 50vh; object-fit: cover"
                  src="/uploads/images/8eae5049-79e0-41d9-86aa-ccdc22be991a -- IMG_0639.JPG"
                  alt=""
                />
              </div>
            </div>
          </div>
          <h1 id="about" class="mt-4 mb-4 text-center">About us</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            officiis enim rerum doloribus quaerat ratione voluptates tenetur,
            similique, temporibus deleniti expedita reiciendis! Sint obcaecati
            eos itaque mollitia! Est, suscipit atque.
          </p>
          <div style="gap: 2rem; justify-content: center" class="row mt-4">
            <div class="card col-md-3">
              <div class="card-body">
                <div class="card-title">Lorem, ipsum dolor.</div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quia, doloribus culpa? Consequuntur!
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
            <div class="card col-md-3">
              <div class="card-body">
                <div class="card-title">Lorem, ipsum dolor.</div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quia, doloribus culpa? Consequuntur!
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
            <div class="card col-md-3">
              <div class="card-body">
                <div class="card-title">Lorem, ipsum dolor.</div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quia, doloribus culpa? Consequuntur!
                </p>
                <a href="#" class="btn btn-success">continue</a>
              </div>
            </div>
          </div>
          <div
            id="contact"
            style="min-height: 100vh"
            class="row align-items-center"
          >
            <div class="contact col-md-8">
              <div style="width: 100%" class="m-auto card-body">
                <h3 class="text-dark mb-2">Contact us</h3>
                <div class="row col-md-full">
                  <div class="form-group col-sm-4">
                    <label for="exampleInputName1">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="Name"
                    />
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="exampleInputName1">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="exampleInputName1">Subject</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputName1"
                      placeholder="subject"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="exampleTextarea1">Message</label>
                    <textarea
                      class="form-control"
                      id="exampleTextarea1"
                      rows="2"
                    ></textarea>
                  </div>
                </div>
                <button class="btn btn-primary">send</button>
              </div>
            </div>
            <div
              style="display: grid; align-content: center; gap: 2rem"
              class="col-md-3"
            >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Facebook</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Instagram</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Twitter</a
              >
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >uwi@SOFTPORT.io</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
